body, .under_header, md-content {
    background-color: #EAEAEA;
}

md-toolbar {
    background-color: rgb(49, 68, 121)!important;
    color: rgba(255, 255, 255, 0.87);
    height: 5vh;
}

md-sidenav  {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(77, 95, 195);
}

md-backdrop, md-sidenav, .header {
    position: fixed!important;
}

md-button {
    color: rgba(255, 255, 255, 0.87);
}

.full_width {
    width: 100%;
}

.inner_header {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Trebuchet MS','Helvetica Neue','Lucida Grande',sans-serif!important;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.3em;
}

.under_header {
    margin-top: 60px;
}

.searchForm {
    background: white;
    margin-left: 20px;
    padding-left: 20px;
    height: 100%;
    display: flex;
}

.searchForm input {
    height: 100%;
    border: none;
    color: #314479;
}

.searchForm input:focus {
    outline:none;
}

.searchForm i {
    color: #A9A9A9;
    font-size: 3em;
}

.searchForm button {
    margin: 0;
    line-height: 100%;
}

.person_img_container {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 100%;
}
 
.person_img_container img {
    height: 100%;
}

.person_desc {
    justify-content: center;
}
    
.person_desc span {
    text-align: right;
    padding-right: 10px;
}

.person_position {
    font-size: .7em;
}