<link rel="stylesheet" href="crmApp/personalPage/settings/sales_funnel/settings.sales_funnel.css">
<section class="settings_body_block">
    <h2 class="inner_header">Воронка</h2>
    <div class="settings_container">
            <md-button class="md-raised add_stage_btn" ng-click="settings_sales_funnel.addStage($event)"> Добавить этап </md-button>
        </div>
        <!--Блок пользовательских этапов воронки-->
        <div class="exist_stages">
            <div class="stage_block" layout ng-repeat="stage in settings_sales_funnel.config.sales_funnel.stages track by $index">
                <div class="stage_num_container">
                    <div class="stage_num">{{stage.num}}</div>
                </div>
                <div class="stage_color_container">
                    <div class="stage_color" ng-style="settings_sales_funnel.setColor(stage.color)"></div>
                </div>
                <div class="stage_name_container">{{stage.name}}</div>
                <div class="stage_action_container">
                    <md-button class="md-icon-button launch edit_btn" ng-click="settings_sales_funnel.editStage($event, stage)">
                        <md-icon md-font-library="material-icons ">mode_edit</md-icon>
                    </md-button>
                    <md-button class="md-icon-button launch del_btn" ng-click="settings_sales_funnel.deleteStage(stage, settings_sales_funnel.config.sales_funnel.stages)">
                        <md-icon md-font-library="material-icons">delete_forever</md-icon>
                    </md-button>
                </div>
            </div>
        </div>
        <!--Блок системных этапов-->
        <div class="exist_stages system_stages_block">
            <h3 class="inner_sub_header system_stages_header">Системные этапы</h3>
            <div class="system_stages_container">
                <div class="stage_block" layout ng-repeat="sys_stage in settings_sales_funnel.config.sales_funnel.systemStages">
                    <div class="stage_color_container">
                        <div class="stage_color" ng-style="settings_sales_funnel.setColor(sys_stage.color)"></div>
                    </div>
                    <div class="stage_name_container">{{sys_stage.name}}</div>
                </div>
            </div>
        </div>
    </div>
</section>