md-toolbar {
    background-color: rgb(49, 68, 121)!important;
    color: rgba(255, 255, 255, 0.87);
}

md-sidenav  {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(77, 95, 195);
}

md-button {
    color: rgba(255, 255, 255, 0.87);
}

.full_width {
    width: 100%;
}

 