md-grid-list {
    width: 100%;
    height: 100%;
}

md-grid-list md-grid-tile{
    /*transition: all 400ms ease-out 200ms;*/
}

.dashboard_grid {
    margin: 10px;
}

.card {
    padding: 20px;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Trebuchet MS','Helvetica Neue','Lucida Grande',sans-serif!important;
}

.card_header {
    /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.3em;
}

.card_content {
    width: 100%;
    height: 100%;
}

.calendar_carousel_container {
    height: 100%;
    overflow: auto;
    padding: 20px;
}

.calendar_day {
    text-align: center;
    padding: 10px;
    margin: 10px;
    flex: 0 0 30%!important;
}

.day_value {
    font-size: 3em;
}

.day_month {
    font-size: 2em;
}

.day_tasks_block {
    margin-top: 2em;
}

.day_task_options {
    font-size: .8em;
    text-align: left;
    padding: 5px!important;
}

.day_tasks_block .material-icons {
    font-size: 1.1em;   
    color: #3B3B3B;
}

.day_tasks {
    display: flex;
}

.day_task {
    width: 100%;
    padding: 5px 0;
}

md-divider {
    width: 100%;
}

.today {
    background-color: rgb(200, 225, 255);
}

.add_btn {
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgb(6, 116, 30)!important;
    line-height: 100%!important;
}

.add_btn .material-icons {
    font-size: 2em;
}

.deal_card{
    padding: 10px;
    margin-top: 20px;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Trebuchet MS','Helvetica Neue','Lucida Grande',sans-serif!important;
}

.deal_head button{
    padding: 0!important;
    margin: 0!important;
    width: auto!important;
    height: auto!important;
}

.deal_name {
    font-weight: 600;
    text-transform: uppercase;
    /*font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Trebuchet MS','Helvetica Neue','Lucida Grande',sans-serif!important;*/
}

.deal_company_name {
    font-size: 1em;
    color: #737373;
}

.deal_tasks_container {
    padding: 10px 0;
    font-size: .8em;
    color: #494949;
    /*font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Trebuchet MS','Helvetica Neue','Lucida Grande',sans-serif!important;*/
}

.deal_task {
    padding: 5px;
}

.auto_centered {
    margin: auto;
}

.deal_task_date {
    font-style: italic;
    font-size: .9em;
}

.deal_amount {
    font-weight: 600;
    font-size: 1.2em;
}

.add_deal_btn {
    position: fixed;
    right: 10px;
    bottom: 25px;
}

.event_card {
    padding: 10px;
    margin-top: 10px;
}

.event_card i {
    text-align: center;
    padding: 10px;
}

.event_owner {
    color: #8A8A8A;
}

.event_date {
    font-weight: 600;
}