<link rel="stylesheet" href="crmApp/personalPage/dashboard/dashboard.css">
<section class="dashboard_container full_width" layout="row">
    
    <md-grid-list class="dashboard_grid"
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="12px" md-gutter-gt-sm="8px" >
        <!-- Календарь -->
        <md-grid-tile class="calendar_block" layout="column" layout-align="space-around stretch" 
            md-rowspan="2" md-colspan="4" md-colspan-sm="1" md-colspan-xs="2">
            <div class="card_content">
                <md-content class="md-whiteframe-3dp card" layout-fill layout="column" layout-align="start">
                    <h2 class="card_header">Календарь</h2>
                    <div class="calendar_carousel_container" layout="row" ng-init="dashboard.calendarScroll()">
                        <div class="calendar_day md-whiteframe-4dp"
                             ng-class="{today: day.today}"
                             ng-repeat="day in dashboard.calendar"
                             on-finish-repeat="ngRepeatFinished"
                             layout="column">
                            <div class="day_value">{{day.value}}</div>
                            <div class="day_month">{{day.month}}</div>
                            <div class="day_name">{{day.name}}</div>
                            <div class="day_tasks_block">
                                <div class="day_tasks" flex ng-repeat="task in day.tasks" layout="column">
                                    <div class="day_task" layout>
                                        <div class="day_task_options auto_centered" flex='20'>{{task.time}}</div>
                                        <div class="day_task_options auto_centered" flex='70'>{{task.name}}</div>
                                        <i class="material-icons auto_centered">send</i>
                                    </div>
                                    <md-divider></md-divider>
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-button class="md-fab add_btn add_task_btn" aria-label="Add task">
                        <i class="material-icons">add</i>
                    </md-button>
                </md-content>
                
            </div>
            
        </md-grid-tile>
        
        <!-- Последние сделки -->
        <md-grid-tile class="last_deals_block"
            md-rowspan="4" md-colspan="2" md-colspan-sm="2" md-colspan-xs="1">
            <div class="card_content">
                <md-content class="md-whiteframe-3dp card" layout-fill layout="column" layout-align="start">
                    <h2 class="card_header">Последние сделки</h2>
                    <div class="last_deals_container">
                        <div class="deal_card md-whiteframe-4dp"
                             ng-repeat="deal in dashboard.deals"
                             layout="column">
                            <div class="deal_head" layout flex>
                                 <div class="deal_name auto_centered">{{deal.name}}</div>
                                 <div flex></div>
                                 <md-button class="md-icon-button" aria-label="More"> 
                                    <i class="material-icons">more_vert</i>
                                 </md-button>
                            </div>
                            
                            <div class="deal_company_name">{{deal.company.name}}</div>
                            <div class="deal_tasks_container">
                                <div class="deal_tasks" ng-repeat="task in deal.tasks">
                                    <div class="deal_task" layout>
                                        <div class="deal_info">
                                            <div class="deal_task_date">{{task.date}} {{task.time}}</div>
                                            <div class="deal_task_name">
                                                {{task.name}}
                                            </div>
                                        </div>
                                        <div flex></div>
                                        <i class="material-icons auto_centered">send</i>
                                    </div>
                                    <md-divider></md-divider>
                                </div>
                                 
                            </div>
                            <div class="footer_deal" layout flex>
                                <div flex></div>
                                <div class="deal_amount">{{deal.amount}} руб.</div>
                            </div>
                            
                        </div>
                    </div>
                    <md-button class="md-fab add_btn add_deal_btn" aria-label="Add task">
                        <i class="material-icons">add</i>
                    </md-button>
                </md-content>
            </div>
        </md-grid-tile>
        
        <!-- События -->
        <md-grid-tile class="events_block"
            md-rowspan="2" md-colspan="4" md-colspan-sm="1" md-colspan-xs="2">
        <div class="card_content">     
            <md-content class="md-whiteframe-3dp card" layout-fill layout="column" layout-align="start">
                <h2 class="card_header">События</h2>
                <div class="events_container">
                    <div class="event_card md-whiteframe-4dp"
                             ng-repeat="event in dashboard.events"
                             layout>
                        <i class="material-icons auto_centered" flex="10">send</i>
                        <div class="event_body auto_centered" flex>
                            <div class="event_name">{{event.name}}</div>
                            <div class="event_owner">{{event.owner.name}}</div>
                        </div>
                        <div flex></div>
                        <div class="event_date auto_centered">{{event.date}}</div>
                    </div>
                </div>
                <md-button class="md-fab add_btn add_event_btn" aria-label="Add task">
                    <i class="material-icons">add</i>
                </md-button>
            </md-content>
        </div>
        </md-grid-tile>

  </md-grid-list>
</section>
