<md-dialog aria-label="Add stage"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{settings_fields.dialogParams.getParams().headerText}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="settings_fields.mdDialog.cancel()">
          <md-icon md-font-library="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <!--Если обработка группы полей-->
    <md-dialog-content  ng-if="settings_fields.dialogParams.getParams().isGroup">
      <div class="md-dialog-content">
        <h3 class="inner_header">Введите название группы:</h3>
        <md-input-container class="md-block dialog_input" flex-gt-sm>
                <input name="newGroupName"
                       type="text"
                       ng-model="settings_fields.dialogObject.getEntity().name"
                       placeholder="Введите название группы"
                       aria-label="newGroupName"
                       required>
        </md-input-container>
      </div>
    </md-dialog-content>
    <!--Если обработка поля-->
    <md-dialog-content  ng-if="!settings_fields.dialogParams.getParams().isGroup">
        <div class="md-dialog-content">
          <h3 class="inner_header">Установите параметры поля</h3>
          <md-select class="dialog_input"
                    aria-label="GroupField"
                    ng-model="settings_fields.dialogObject.getEntity().group"
                    placeholder="Выберите группу"
                    required> 
              <md-option ng-value="group" 
                        ng-repeat="group in settings_fields.config.fields.contacts.groups"
                        ng-select="settings_fields.dialogObject.getEntity().group">
                  {{group.name}} 
              </md-option>
          </md-select>
          <md-input-container class="md-block dialog_input" flex-gt-sm>
                  <input name="newFieldName"
                        type="text"
                        ng-model="settings_fields.dialogObject.getEntity().name"
                        placeholder="Введите название поля"
                        aria-label="newFieldName"
                        required>
          </md-input-container>
          <md-select class="dialog_input"
                    aria-label="TypeField"
                    ng-model="settings_fields.dialogObject.getEntity().valueType"
                    placeholder="Выберите тип значения"
                    required> 
              <md-option ng-value="item" 
                        ng-repeat="item in settings_fields.config.valueTypes"
                        ng-select="settings_fields.dialogObject.getEntity().valueType">
                  {{item.name}} 
              </md-option>
          </md-select>
          <md-checkbox md-no-ink
                       aria-label="Обязательное поле"
                       ng-model="settings_fields.dialogObject.getEntity().isRequired"
                       class="md-primary">
              Обязательное поле
          </md-checkbox>
        </div>
     </md-dialog-content>
      
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button aria-label="doneBtn" ng-click="settings_fields.mdDialog.hide(settings_fields.dialogObject.getEntity())">
       {{settings_fields.dialogParams.getParams().okBtnText}}
      </md-button>
      <md-button aria-label="cancelBtn" ng-click="settings_fields.mdDialog.cancel()" style="margin-right:20px;">
        Отмена
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>