<md-dialog aria-label="Add stage"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{settings_sales_funnel.dialogParams.getDialogParams().dialogHeadText}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="settings_sales_funnel.dialogCancel()">
          <md-icon md-font-library="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h3 class="inner_header">Установите параметры этапа</h3>
        <md-input-container class="md-block dialog_input" flex-gt-sm>
                <input name="newStageName"
                       type="text"
                       ng-model="settings_sales_funnel.dialogObject.getStageEntity().name"
                       minlength="number"
                       placeholder="Введите название этапа воронки"
                       aria-label="newStageName"
                       required>
        </md-input-container>
        <md-input-container class="md-block dialog_input" flex-gt-sm>
          <input name="newStageNum"
                  type="text"
                  ng-model="settings_sales_funnel.dialogObject.getStageEntity().num"
                  minlength="number"
                  placeholder="Введите номер этапа"
                  aria-label="newStageNum"
                  required>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button aria-label="doneBtn" ng-click="settings_sales_funnel.dialogDone(settings_sales_funnel.dialogObject.getStageEntity())">
       {{settings_fields.dialogParams.getDialogParams().dialogOkBtnText}}
      </md-button>
      <md-button aria-label="cancelBtn" ng-click="settings_sales_funnel.dialogCancel()" style="margin-right:20px;">
        Отмена
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>