.field_option {
    padding: 10px;
}

/*.fields_container {
    position: relative;
}*/

.add_btn {
    right: 0;
    top: 0;
    position: fixed;
    background-color: rgb(6, 116, 30)!important;
    line-height: 100%!important;
}

.dialog_input label {
    color: #7B7B7B;
}

::-webkit-input-placeholder { color:#7B7B7B; }
::-moz-placeholder          { color:#7B7B7B; }
:-moz-placeholder           { color:#7B7B7B; }
:-ms-input-placeholder      { color:#7B7B7B; }

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #fff !important;
    background-color: #314479 !important;
}
