.field_option {
    padding: 10px;
    text-align: center;
}

.dialog_input label {
    color: #7B7B7B;
}

::-webkit-input-placeholder { color:#7B7B7B; }
::-moz-placeholder          { color:#7B7B7B; }
:-moz-placeholder           { color:#7B7B7B; }
:-ms-input-placeholder      { color:#7B7B7B; }

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #fff !important;
    background-color: #314479 !important;
}

.field_header {
    font-weight: 600;
    text-decoration: underline;
    color: #4A4A4A;
}

.item_field {
    align-items: center;
}

.group_actions {
    display: inline;
    margin-left: 20px;
}

.group_actions button{
    padding: 0!important;
    margin: 0!important;
}