  <link rel="stylesheet" href="crmApp/personalPage/personal.css">
  <md-toolbar layout="row" class="header">
       <div class="md-toolbar-tools">
        <md-button ng-click="main.toogleNav('left')" class="md-icon-button" aria-label="Settings">
          <md-icon md-font-library="material-icons">menu</md-icon>
        </md-button>
        <h2>
          <span>ITBA CRM</span>
        </h2>
        
        <!--Search-->
        <div flex class="searchForm" action="">
          <input type="text" flex="90" placeholder="Найти клиента, документ, задачу...">
            <md-button class="md-icon-button" flex="10">
                <md-icon md-font-library="material-icons">search</md-icon>
            </md-button>
        </div>
        
        <span flex></span>
        
        <!--Блок пользователя-->
        <div class="person_block" layout="row">
          <div class="person_desc" layout="column">
            <span class="person_name">{{personal.account.name}}</span>
            <span class="person_position">{{personal.account.position}}</span>
          </div>
          <div class="person_img_container">
            <img ng-src="{{personal.account.photo}}" alt="">
          </div>
        </div>
        
        
        <md-button onclick="alert('Notifications!')" class="md-icon-button" aria-label="More"> 
          <md-icon md-font-library="material-icons">notifications_none</md-icon>
        </md-button>
        <md-button ng-click="main.toogleNav('right')" class="md-icon-button" aria-label="More"> 
          <md-icon md-font-library="material-icons">more_vert</md-icon>
        </md-button>
      </div>
       
   </md-toolbar>
   
   <div flex layout="row" class="full_width under_header">
     <ui-view class="full_width"></ui-view>
     
        <!--Левое меню-->
        <md-sidenav layout="column" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
          <md-toolbar layout="row">
            <div class="menu-header-label">Меню</div>
          </md-toolbar>
          <md-content flex id="content" flex role="navigation">
            
              <md-button ui-sref="personal.dashboard" id="personal.dashboard" class="menu-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Рабочий стол</span>
                <md-icon md-font-library="material-icons">desktop_windows</md-icon>
              </md-button>
              <md-button ui-sref="personal.deals" id="personal.deals" class="menu-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Сделки</span>
                <md-icon md-font-library="material-icons">attach_money</md-icon>
                <div flex></div>
              </md-button>
              <md-button ui-sref="personal.contacts" id="personal.contacts" class="menu-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Контакты</span>
                <md-icon md-font-library="material-icons">account_box</md-icon>
                <div flex></div>
              </md-button>
              <md-button ui-sref="personal.tasks" id="personal.tasks" class="menu-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Задачи</span>
                <md-icon md-font-library="material-icons">today</md-icon>
                <div flex></div>
              </md-button>
              <md-button ui-sref="personal.analytics" id="personal.analytics" class="menu-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Аналитика</span>
                <md-icon md-font-library="material-icons">pie_chart</md-icon>
                <div flex></div>
              </md-button>
              <md-button ui-sref="personal.documents" id="personal.documents" class="menu-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Документы</span>
                <md-icon md-font-library="material-icons">description</md-icon>
                  <div flex></div>
              </md-button>
              <md-button ui-sref="personal.settings.common" id="personal.settings" class="menu-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Настройки</span>
                <md-icon md-font-library="material-icons">settings</md-icon>
                <div flex></div>
              </md-button>
            
          </md-content>          
        </md-sidenav>
        <md-content flex id="content"></md-content>
        <md-sidenav md-component-id="right" class="md-sidenav-right md-whiteframe-z2"></md-sidenav>
   </div>