  <link rel="stylesheet" href="crmApp/personalPage/personal.css">
  <md-toolbar layout="row" class="header">
       <div class="md-toolbar-tools">
        <md-button ng-click="main.toogleNav('left')" class="md-icon-button" aria-label="Settings">
          <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
        </md-button>
        <h2>
          <span>ITBA CRM</span>
        </h2>
        
        <!--Search-->
        <div flex class="searchForm" action="">
          <input type="text" flex="90" placeholder="Найти клиента, документ, задачу...">
            <md-button flex="10">
                <i class="material-icons">search</i>
            </md-button>
        </div>
        
        <span flex></span>
        
        <!--Блок пользователя-->
        <div class="person_block" layout="row">
          <div class="person_desc" layout="column">
            <span class="person_name">{{personal.account.name}}</span>
            <span class="person_position">{{personal.account.position}}</span>
          </div>
          <div class="person_img_container">
            <img ng-src="{{personal.account.photo}}" alt="">
          </div>
        </div>
        
        
        <md-button onclick="alert('Notifications!')" class="md-icon-button" aria-label="More"> 
          <i class="material-icons">notifications_none</i>
        </md-button>
        <md-button ng-click="main.toogleNav('right')" class="md-icon-button" aria-label="More"> 
          <i class="material-icons">more_vert</i>
        </md-button>
      </div>
       
   </md-toolbar>
   
   <div flex layout="row" class="full_width under_header">
     <ui-view class="full_width"></ui-view>
     
        <!--Левое меню-->
        <md-sidenav layout="column" md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
          <md-toolbar layout="row">
            <div class="menu-header-label">Меню</div>
          </md-toolbar>
          <md-content flex id="content" flex role="navigation">
            <a ui-sref="personal.dashboard">
              <md-button id="personal.dashboard" class="menu-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Рабочий стол</span>
                <i class="material-icons menu-icon">desktop_windows </i>
              </md-button>
            </a>
            <a ui-sref="personal.deals">
              <md-button id="personal.deals" class="menu-row unactive-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Сделки</span>
                <i class="material-icons menu-icon">attach_money</i><div flex></div>
              </md-button>
            </a>
            <a ui-sref="personal.contacts">
              <md-button id="personal.contacts" class="menu-row unactive-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Контакты</span>
                <i class="material-icons menu-icon">account_box</i><div flex></div>
              </md-button>
            </a>
            <a ui-sref="personal.tasks">
              <md-button id="personal.tasks" class="menu-row unactive-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Задачи</span>
                <i class="material-icons menu-icon">today</i><div flex></div>
              </md-button>
            </a>
            <a ui-sref="personal.analytics">
              <md-button id="personal.analytics" class="menu-row unactive-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Аналитика</span>
                <i class="material-icons menu-icon">pie_chart</i><div flex></div>
              </md-button>
            </a>
            <a ui-sref="personal.documents">
              <md-button id="personal.documents" class="menu-row unactive-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Документы</span>
                <i class="material-icons menu-icon">description</i><div flex></div>
              </md-button>
            </a>
            <a ui-sref="personal.settings">
              <md-button id="personal.settings" class="menu-row unactive-row" badge-menu layout="row" ng-click="main.toogleNav('left')" > 
                <span class="menu-label">Настройки</span>
                <i class="material-icons menu-icon">settings</i><div flex></div>
              </md-button>
            </a>
            
          </md-content>          
        </md-sidenav>
        <md-content flex id="content"></md-content>
        <md-sidenav md-component-id="right" class="md-sidenav-right md-whiteframe-z2"></md-sidenav>
   </div>