<md-dialog aria-label="Add stage"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Добавить этап</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Установите параметры этапа</h2>
        <md-input-container class="md-block" flex-gt-sm>
                <input name="newStageName"
                       type="text"
                       ng-model="settings_sales_funnel.newStageName"
                       minlength="number"
                       placeholder="Введите название этапа воронки"
                       aria-label="newStageName">
            </md-input-container>
            <div class="add_stage_color"
                 md-color-picker
                 type="0"
                 ng-model="settings_sales_funnel.color"
                 label="Выберите цвет"
                 icon="colorize"
                 default="#f00"
                 md-color-generic-palette="false"
                 md-color-history="false">
            </div> 
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>